<div class="container">
<h1>Articles</h1>
<p>Find me in app/views/admin/articles.html.erb</p>

<div class="btn-group">
  <a class="btn btn-primary" href="/admin/dashboard">Dashboard</a>
  <a class="btn btn-primary" href="/admin/users">Users</a>
  <a class="btn btn-primary" href="/admin/articles">Articles</a>
</div>

<hr/>
<form class="search" role="search">
<input class="search__input" id="search" type="search" name="search" placeholder="Search article" value="">
<a class="search__clear-link" href=@users>
    <title>Clear search</title>
</a>
</form>

<hr/>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Articles</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p>
  <%= button_to 'Sign out', admin_logout_path, method: :delete %>  
</p>
</div>
