<div class="container">
<h1>Admin Dashboard</h1>

<div class="btn-group">
  <a class="btn btn-primary" href="/admin/dashboard">Dashboard</a>
  <a class="btn btn-primary" href="/admin/users">Users</a>
  <a class="btn btn-primary" href="/stories">Stories</a>
</div>

<p>
  <%= button_to 'Sign out', admin_logout_path, method: :delete %>  
</p>
</div>

